<div class="container col-11 col-md-9" id="form-container">
    <div class="row aling-items-center gx-5">
        <div class="col-md-6 order-md-2">
            <h2>Faça o login para continuar</h2>
            <form (ngSubmit)="receberDados()">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu e-mail" [(ngModel)]="userModel.email">
                    <label for="email" class="form-label">Digite o seu e-mail</label>
                </div> 
                <div class="form-floating mb-3">
                     <input type="password" class="form-control" id="password" name="password" placeholder="Digite a sua senha" [(ngModel)]="userModel.password">
                    <label for="password" class="form-label">Digite a sua senha</label>
                </div>
                <input type="submit" id="botao-enviar" class="btn secundary-color" value="fazer login">                
            </form>
            <p id="mensagem" *ngIf="mensagem != '' "> {{ mensagem }} </p>
        </div>
        <div class="col-md-6 order-md-1">
            <div class="col-12" id="imglogin">
                <img src="../../../assets/img/sasuke.png" alt="sasuke" class="img-fluid">
            </div>
            <div class="col-12" id="link-container">
                <a href="#">Ainda não tenho cadastro</a>
            </div>
        </div>
    </div>
</div>

