<footer id="footer">
    <div class="container-fluid" id="footer-links-container">
        <div class="row">
            <div class="col-12 col-md-4 footer-column">
                <h3>Páginas</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="secundary-color">Home</a></li>
                    <li class="mb-2"><a href="#" class="secundary-color">Categorias</a></li>
                    <li class="mb-2"><a href="#" class="secundary-color">Promoções</a></li>
                    <li class="mb-2"><a href="#" class="secundary-color">Contatos</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4 footer-column" id="footer-center">
              <h3>Game Mania</h3>
              <p class="secundary-color">Alguna dúvida? Ligue para nós ou mande-nos um e-mail!</p>
              <p class="store-phone"><i class="bi bi-telephone"></i>(21)99999-9999</p>
              <p class="store-phone"><i class="bi bi-envelope"></i>gamemania@email.com</p>
            </div>
            <div class="col-12 col-md-4 footer-column">
                <h3>Informações</h3>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="secundary-color">Politicas de Privacidade</a></li>
                    <li class="mb-2"><a href="#" class="secundary-color">Politicas de Rastreio</a></li>
                    <li class="mb-2"><a href="#" class="secundary-color">Rastreie seu Pedido</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="newsletter-container">
        <div class="col-12">
            <div class="row">
                <p class="secundary-color">Se inscreva na nossa Newsletter:</p>
                <form  class="d-flex" id="news-form">
                    <i class="bi bi-envelope primary-color"></i>
                    <input type="email" class="form-control me-2" placeholder="Insira seu e-mail">
                    <button class="btn secundary-bg-color" type="submit">Enviar</button>
                </form>
            </div>
        </div>
        <div class="col-12" id="social-container">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
           <a href="#"> <i class="bi bi-linkedin"></i></a>
        </div>
    </div>
        <div class="contaienr" id="copy-container">
            <p>Todos os direitos reservados @2022 <span class="primary-color">Game Mania</span>
            - Uma loja para gamers e afins</p>
        </div>
    
</footer>
